spring:
  application:
    name: bike-service
  datasource:
    url: jdbc:postgresql://localhost:5432/bikedb
    username: bikeuser
    password: bikepass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
      defer-datasource-initialization: true
  sql:
    init:
      mode: always

